name: Test
on: [push, pull_request]
permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.19.x, stable]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    
    - name: Test
      run: go test ./...
    
    - name: Build without tests
      run: go build ./...
